<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity Detail</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/activity_detail.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/home.js"></script>
</head>
<body>
<!--导航栏-->
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/homepage" class="">首页</a></li>
                        <li class="active"><a href="/homepage">同城活动</a></li>
                        <li><a href="/release_activity">发布活动</a></li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                                 aria-haspopup="true" aria-expanded="false">失物招领 <span
                                class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lostFound">失物招领列表</a></li>
                                <li><a href="/release_lost">发布失物招领</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown" style="display:none"><a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                                                 role="button" aria-haspopup="true" aria-expanded="false">招领 <span
                                class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">招领信息</a></li>
                                <li><a href="#">发布招领</a></li>
                            </ul>
                        </li>
                        <li><a href="/personal">个人主页</a></li>
						<li><a href="/history">已发布信息</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="/signout">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--导航栏结束-->

<div class="container">
    <div class="card">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-5">
                    <!-- <img src="http://placekitten.com/400/252"/> -->
                    <img src="<%=unescape(activity[0].img)%>"/>
                </div>
                <div class="details col-md-6 col-md-offset-1">
                    <h3 class="activity-title"><%=unescape(activity[0].name)%></h3>
                    <p class="vote"><strong><%=activity[0].num_people%></strong>的人已经参加！ <strong>(87 likes)</strong></p>
                    <h4 class="time">时间： <span><%=unescape(activity[0].time)%></span></h4>
                    <h4 class="address">地点：<span><%=unescape(activity[0].place)%></span></h4>
                    <h5 class="type">标签：<span><%=unescape(activity[0].type)%></span></h5>
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">感兴趣</button>
                        <button class="add-to-cart btn btn-default" type="button">要参加</button>
                    </div>
                </div>
            </div>
            <div class="description">
                <h3>活动简介</h3>
                <p><%=unescape(activity[0].intro)%></p>
            </div>

            <div class="comment-container">
                <h3>评论区</h3>
                <div>
                    <textarea class="form-control col-md-8" title="comment" id="comment" name="comment" rows="3" placeholder="我也来说几句..."></textarea>
                </div>
                <button class="btn btn-primary btn-lg pull-right" type="submit" onclick="createComment1()">发表</button>
                <table class="table">
                    <tbody>
					<% for(var i = 0;i < comment.length;i++){%>
                    <tr style="height: 3cm">
                        <td width="20%">
                            <%=unescape(comment[i].username)%>
                        </td>
                        <td width="80%"><%=unescape(comment[i].content)%></td>
                    </tr>
					<%} %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>