<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lost Detail</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/lost_detail.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/lost.js"></script>
	<script type="text/javascript" language="javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TbLC35kAGkxnk1bfocGR6TI8X1sgLCRz"></script>
</head>

<body>
<!--导航栏-->
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/homepage" class="">首页</a></li>
                        <li><a href="/homepage">同城活动</a></li>
                        <li><a href="/release_activity">发布活动</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">失物招领<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lostFound">失物招领列表</a></li>
                                <li><a href="/release_lost">发布失物招领</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown" style="display:none">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">招领<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="found.html">招领信息</a></li>
                                <li><a href="release_found.html">发布招领</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/personal">个人信息</a></li>
                                <li><a href="/history">已发布信息</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="/signout">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--导航栏结束-->

<div class="container">
    <div class="card">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-5">
                    <img src="<%=unescape(lostInfo[0].img)%>"/>
                </div>
                <div class="details col-md-6 col-md-offset-1">
                    <h1 class="lost-title"><%=unescape(lostInfo[0].name)%></h1>
                    <h2 class="lost-owner">发布人:<span>方小花</span></h2>
                    <h3 class="time">遗失时间： <span><%=unescape(lostInfo[0].time)%></span></h3>
                    <h3 class="address">遗失地点：<span><%=unescape(lostInfo[0].place)%></span></h3>
                    <h3 class="type">所属类型：<span><%=unescape(lostInfo[0].type)%></span></h3>
                    <h3 class="bonus">悬赏分：<span>3</span></h3>
					<!-- map -->
					<h3 class="bonus" for="description">地图标识：</h3>
					<div class="" id="map" name="map" style="height:300px; width:480px;"></div>
					<script type="text/javascript"> 
						var map = new BMap.Map("map");          // 创建地图实例  
						var point = new BMap.Point(<%=unescape(lostInfo[0].coord)%>);  // 创建点坐标  
						map.centerAndZoom(point, 20);                 // 初始化地图，设置中心点坐标和地图级别
						var marker = new BMap.Marker(point);        // 创建标注    
						map.addOverlay(marker);                     // 将标注添加到地图中
						//**********************************************
						map.addControl(new BMap.NavigationControl());        
						map.addControl(new BMap.MapTypeControl());
						//**********************************************
						//marker.enableDragging();    
						//marker.addEventListener("dragend", function(e){    
						//var coord = e.point.lng+','+e.point.lat; // 存放位置坐标
						//});
					</script>

                </div>
            </div>
            <div class="description">
                <h3>物品简介</h3>
                <p><%=unescape(lostInfo[0].intro)%></p>
            </div>
			
            <div class="comment-container">
                <h3>给发布人留言</h3>
                <div>
                    <textarea class="form-control col-md-8" rows="3" id="message" placeholder="此留言仅楼主可见..."></textarea>
                </div>
                <button class="btn btn-primary btn-lg pull-right" style="margin-top:10px" onclick="sendMessage()" type="submit">发送</button>
                <table class="table">
                    <tbody>
					<% for(var i = 0;i < message.length;i++){%>
					<tr style="height: 3cm">
						<td width="20%">
                            <%=unescape(message[i].sender_name)%>
                        </td>
                        <td width="80%"><%=unescape(message[i].content)%></td>
					</tr>
					<%} %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>